extends ./layouts/index
block contenido 
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg" , class='img-fluid')
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsum quibusdam voluptatum iure saepe. Aut animi quam inventore, a neque natus ipsam voluptates quidem! Ratione incidunt reprehenderit impedit fugiat vero!Illum in voluptatum vitae eaque itaque autem corporis sequi! Sint, culpa. 

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsum quibusdam voluptatum iure saepe. Aut animi quam inventore, a neque natus ipsam voluptates quidem! Ratione incidunt reprehenderit impedit fugiat vero!Illum in voluptatum vitae eaque itaque autem corporis sequi! Sint, culpa. Voluptatem assumenda ipsam sunt sed ea fugiat, ut veniam accusamus cumque, perspiciatis soluta nulla deserunt accusantium harum, eligendi dicta!Aut vel tenetur facilis debitis non. Velit nam blanditiis ratione cupiditate qui officiis ullam sunt asperiores possimus commodi facilis nobis excepturi libero voluptates temporibus exercitationem labore quia, error sapiente! Facere!

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row    
                .col-md-4  
                    img(src="img/icono_seguridad.svg", alt="", class='img-fluid mb-4')
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi impedit, adipisci 
                .col-md-4  
                    img(src="img/icono_destinos.svg", alt="", class='img-fluid mb-4')
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi impedit, adipisci 
                .col-md-4  
                    img(src="img/icono_precios.svg", alt="", class='img-fluid mb-4')
                    h2.mb-4 Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi impedit, adipisci 
